langchain
langchain_google_genai
dotenv
pydantic
langchain_core
langchain_community
reportlab
motor
fastapi
uvicorn
passlib
python-jose
pypdf
python-multipart
bcrypt
langgraph
redis
docx
pydantic[email]
